/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/page.tsx","import":"Quicksand","arguments":[{"subsets":["latin"]}],"variableName":"quicksand"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: '__Quicksand_Fallback_a4685a';
  src: local("Arial");
  ascent-override:95.87%;
  descent-override:23.97%;
  line-gap-override:0.00%;
  size-adjust:104.31%;
}@font-face {font-family: '__Quicksand_Fallback_Fallback_a4685a';src: local("Arial");ascent-override: 95.87%;descent-override: 23.97%;line-gap-override: 0.00%;size-adjust: 104.31%
}.__className_a4685a {font-family: '__Quicksand_Fallback_a4685a', '__Quicksand_Fallback_Fallback_a4685a';font-style: normal
}
